@layer base {
  /* Poppins */
  @font-face {
    font-family: "Poppins";
    src: url("../../assets/fonts/poppins/Poppins-Regular.ttf");
  }
  @font-face {
    font-family: "Poppins-Light";
    src: url("../../assets/fonts/poppins/Poppins-Light.ttf");
  }
  @font-face {
    font-family: "Poppins-Medium";
    src: url("../../assets/fonts/poppins/Poppins-Medium.ttf");
  }
  @font-face {
    font-family: "Poppins-Bold";
    src: url("../../assets/fonts/poppins/Poppins-Regular.ttf");
  }
  @font-face {
    font-family: "Poppins-Italic";
    src: url("../../assets/fonts/poppins/Poppins-Italic.ttf");
  }
  /* Wix */
  @font-face {
    font-family: "Wix";
    src: url("../../assets/fonts/wix/WixMadeforDisplay-Regular.ttf");
  }
  @font-face {
    font-family: "Wix-Medium";
    src: url("../../assets/fonts/wix/WixMadeforDisplay-Medium.ttf");
  }
  @font-face {
    font-family: "Wix-SemiBold";
    src: url("../../assets/fonts/wix/WixMadeforDisplay-SemiBold.ttf");
  }
  @font-face {
    font-family: "Wix-Bold";
    src: url("../../assets/fonts/wix/WixMadeforDisplay-Bold.ttf");
  }
  @font-face {
    font-family: "Wix-ExtraBold";
    src: url("../../assets/fonts/wix/WixMadeforDisplay-ExtraBold.ttf");
  }
  /* Nunito */
  @font-face {
    font-family: "Nunito";
    src: url("../../assets/fonts/nunito/NunitoSans_7pt-Regular.ttf");
  }
  @font-face {
    font-family: "Nunito-Light";
    src: url("../../assets/fonts/nunito/NunitoSans_7pt-Light.ttf");
  }
  @font-face {
    font-family: "Nunito-Medium";
    src: url("../../assets/fonts/nunito/NunitoSans_7pt-Medium.ttf");
  }
  @font-face {
    font-family: "Nunito-Bold";
    src: url("../../assets/fonts/nunito/NunitoSans_7pt-Bold.ttf");
  }
  @font-face {
    font-family: "Nunito-Italic";
    src: url("../../assets/fonts/nunito/NunitoSans_7pt-Italic.ttf");
  }

  html {
    position: relative;
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply flex h-[100vh] flex-col bg-slate-500 font-default;
  }
}
